<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products/add}">Add Product</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron py-4 bg-light text-center mb-4">
        <h2>Jim's General Merchandise</h2>
        <img th:src="@{/images/jgm_logo.jpg}" src="../../static/images/jgm_logo.jpg"
             alt="Spring logo" style="width:30%; max-width:200px;">
    </div>
</div>